<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <div id="app">
    <input type="text" v-model="newText">
    <button type="button" @click="addData">增加</button>
    {{ newText }}
    <ul>
      <li v-for="item in list" :key="item.id">
        {{ item.text }}
        <button type="button" @click="prepareEdit(item)">編輯</button>
        <button type="button" @click="delData(item.id)">刪除</button>
      </li>
    </ul>

    <hr>
    <div>
      <input type="text" v-model="tempData.text">
      <button type="button" @click="confirmEdit">確認編輯</button>
    </div>
  </div>

  <script>
    const { createApp } = Vue;

    const app = createApp({
      data(){
        return{
          newText: 'eee',
          list: [
            {
              id: 1,
              text: '這是預設'
            }
          ],
          tempData: {}
        }
      },
      methods: {
        addData(){
          if(this.newText){
            this.list.push({
              id: new Date().getTime(),
              text: this.newText
            })
          }
          // console.log(this.list);
          this.newText = ''
        },
        delData(id){
          const index = this.list.findIndex((item)=> item.id === id)
          // console.log(index);
          this.list.splice(index, 1)
        },
        prepareEdit(item){
          console.log(item);
          this.tempData = {...item};
        },
        confirmEdit(){
          // 1.
          // this.list.forEach((item)=>{
          //   if(item.id === this.list.id){
          //     item = { ...tempData }
          //   }
          // });
          // 錯誤點: 直接修改 forEach 裡面的參數，要修改 index

          // this.list.forEach((item, index)=>{
          //   if(item.id === this.tempData.id){
          //     this.list[index] = {...this.tempData}
          //   }
          // });

          // 2.
          const index = this.list.findIndex((item)=> item.id === this.tempData.id)
          this.list[index] = { ...this.tempData }
          // 清空確認編輯欄位
          this.tempData = {}
        }
      }
    })
    
    app.mount('#app');
  </script>
</body>
</html>